.wrapper {
  display: flex;
  height: 1080px;
  margin: auto;
}

.login-section{
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 20% 7%;
}

h1{
  font-family: Rubik;
font-weight: 500;
font-size: 24px;
line-height: 28px;
letter-spacing: -0.06px;
color: #190F27;
}

.text-section{
font-family: Rubik;
font-weight: normal;
font-size: 18px;
line-height: 30px;
color: #64606A;
}

.button{
  background: #284642;
  border-radius: 7px;
  height: 50px;
  font-family: Rubik;
  font-weight: bold;
  font-size: 18px;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}

.divider{
  height: 1px;
  top: 556px;
  background: #EDEBF0;
  border-radius: 19px;
  margin-block: 15px;
}

.text-message{
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #64606A;
}

.text-send{
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #64606A;
  text-decoration: underline solid #284642;
  text-decoration-thickness: 3px;
  text-underline-position: under;
}


.image-section{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 61%;
  background-image: url(./images/image.png);
  background-color: rgba(40, 70, 66, 0.6);
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
}

.text-image{
 width: 30%;
}

.text-image img{
  max-width: 100%;
  height: auto;
}

/* Small devices (portrait tablets and large phones, 320px and down) */
@media only screen and (max-width: 320px) {

  body{
    margin: 0%;
  }


  .wrapper {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
  }

  .image-section{
    background-image: url(./images/image-mobile.png);
  }

  .image-section{
    height: 253px;
    width: 100%;
    padding: 12% 0%;
  }

  .login-section{
    height: 100%;
    width: 79%;
    padding: 11% 11%;
    }
  

  .text-section{
    font-family: Rubik;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #64606A;
  }

  .text-section b{
    font-family: Rubik;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #64606A;
  }

  .text-send{
  
    background-color: red;

  }
  }