
.wrapper{
  display: flex;
}

.login-section{
  margin-top: 175px;
  padding: 141px;
}


h1{
  position: relative;
    font-family: Rubik;
    font-weight: 500;
    font-size: 24px;
    color: #190F27;
}

.text-section{
    font-family: Rubik;
    font-size: 18px;
    line-height: 30px;
    color: #64606A;
}

.text-section-email{
  text-decoration: none;
  color: #64606A;
  font-weight: 500;

}

.button{
  margin-top: 40px;
}

.button-text{
     background: #284642;
     width: 528px;
     height: 50px;
     border-radius: 7px;
     left: 273.25px;
     top: 504px;
     font-family: Rubik;
     font-style: normal;
     font-weight: bold;
     font-size: 18px;
     color: #FFFFFF;
    
}

.divider{
    height: 1px;
    top: 556px;
    background: #EDEBF0;
    border-radius: 19px;
    width: 525px;
    margin: 17px 0px 15px 0px;
}
.text{
  font-family: Roboto;
  color: #64606A;
}
.send-text{
  font-family: Roboto;
  font-size: 18px;
  line-height: 30px;
  color: #64606A;
  font-weight: 500;
  border-bottom: 3px solid #284642;
  text-decoration: none;
}

.wrapper-image{
  background: rgba(40, 70, 66, 0.6);
  mix-blend-mode: multiply;
}
.image{
  background: rgba(40, 70, 66, 0.6);
  mix-blend-mode: multiply;
}
.text-image{
  position: absolute;
    top: 325px;
    left: 1206px;
}